{{ define "base" }}
<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="appController" itemscope itemtype="http://schema.org/Other">
	<head>
		<title>Sample HTML</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">		
		<link rel="stylesheet" href="assets/css/bootstrap-social.css">
	</head>
	<body>
		<nav class="navbar navbar-default" ng-if="IsLoggedIn()">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			  </button>
			  <a class="navbar-brand" href="" ng-bind="appName"></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav" ng-show="IsLoggedIn()">
				{{ template "navLinks" }}
			  </ul>
			  <ul class="nav navbar-nav navbar-right">
				<li ng-click="logout()">
					<a href="" ng-show="IsLoggedIn()">
						<span class="glyphicon glyphicon-log-out"></span> Logout <span ng-bind="userName()"></span>
					</a>
				</li>
			  </ul>
			</div>
		  </div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div ng-view></div>
				</div>
			</div>
			<div class="row text-center small">
				<p ng-bind="footerMsg"></p>
			</div>
		</div>
		<script src = "app/app.module.js"></script>
		<script src = "app/app.helper.js"></script>
		<script src = "app/app.vars.routes.js"></script>
		<script src="https://apis.google.com/js/platform.js?onload=OnGapiLoaded" async defer></script>
		<script src = "app/home/home.controller.js"></script>
		<script src = "app/login/login.controller.js"></script>
		{{ template "scriptLinks" }}
	</body>
</html>
{{ end }}